
/****** Object:  Table [dbo].[BangLuong]    Script Date: 06/11/2025 10:08:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangLuong](
	[MaLuong] [nvarchar](20) NOT NULL,
	[MaNV] [int] NULL,
	[Thang] [int] NULL,
	[Nam] [int] NULL,
	[LuongThang] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaLam]    Script Date: 06/11/2025 10:08:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLam](
	[MaCa] [nvarchar](50) NOT NULL,
	[TenCa] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 06/11/2025 10:08:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[MaChamCong] [nvarchar](50) NOT NULL,
	[MaNV] [int] NOT NULL,
	[NgayLam] [date] NOT NULL,
	[MaCa] [nvarchar](50) NOT NULL,
	[ThoiGianBatDau] [time](7) NOT NULL,
	[ThoiGianKetThuc] [time](7) NOT NULL,
	[SoGioLam] [decimal](5, 2) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHDNhap]    Script Date: 06/11/2025 10:08:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHDNhap](
	[MaChiTietHDNhap] [int] NOT NULL,
	[MaHoaDon] [int] NULL,
	[MaNguyenLieu] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietHDNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 06/11/2025 10:08:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHoaDon] [nvarchar](50) NOT NULL,
	[MaMonAn] [int] NOT NULL,
	[ThoiGian] [datetime] NOT NULL,
	[GiaTien] [money] NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaMonAn] ASC,
	[ThoiGian] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietMonAn]    Script Date: 06/11/2025 10:08:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietMonAn](
	[MaMonAn] [int] NOT NULL,
	[MaNguyenLieu] [int] NOT NULL,
	[GhiChu] [nchar](30) NULL,
 CONSTRAINT [PK_ChiTietMonAn] PRIMARY KEY CLUSTERED 
(
	[MaMonAn] ASC,
	[MaNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 06/11/2025 10:08:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaChucVu] [nvarchar](50) NOT NULL,
	[TenChucVu] [nvarchar](50) NOT NULL,
	[HeSoLuong] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 06/11/2025 10:08:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nchar](50) NULL,
	[MoTa] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachBan]    Script Date: 06/11/2025 10:08:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachBan](
	[MaBan] [int] IDENTITY(1,1) NOT NULL,
	[TenBan] [nvarchar](100) NOT NULL,
	[NgayDatBan] [datetime] NULL,
	[SoLuongKhach] [int] NOT NULL,
	[ThongTinThem] [nchar](20) NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 06/11/2025 10:08:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [nvarchar](50) NOT NULL,
	[NgayXuat] [datetime] NULL,
	[MaKhachHang] [int] NULL,
	[MaNV] [int] NULL,
	[MaBan] [int] NULL,
	[MaVoucher] [nvarchar](50) NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonNhap]    Script Date: 06/11/2025 10:08:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonNhap](
	[MaHoaDon] [int] NOT NULL,
	[MaNhaCungCap] [int] NULL,
	[NgayNhap] [date] NULL,
	[MaNV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 06/11/2025 10:08:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoKH] [nchar](50) NOT NULL,
	[TenKH] [nchar](50) NOT NULL,
	[SoDienThoai] [nchar](20) NOT NULL,
	[NgaySinh] [date] NULL,
	[Email] [nchar](50) NULL,
	[NoiSinh] [nchar](50) NULL,
	[GioiTinh] [nchar](10) NULL,
	[SoCMND] [nchar](20) NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichLamViecNhanVien]    Script Date: 06/11/2025 10:08:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichLamViecNhanVien](
	[MaLichLamViec] [nvarchar](50) NOT NULL,
	[MaNV] [int] NOT NULL,
	[NgayLam] [date] NOT NULL,
	[MaCa] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
	[LapLaiHangTuan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichLamViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 06/11/2025 10:08:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[MaMonAn] [int] IDENTITY(1,1) NOT NULL,
	[TenMonAn] [nchar](50) NOT NULL,
	[GiaTien] [decimal](18, 2) NOT NULL,
	[MaDanhMuc] [int] NOT NULL,
	[DonViTinh] [nchar](10) NULL,
	[Anh] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMonAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAnVaBan]    Script Date: 06/11/2025 10:08:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAnVaBan](
	[MaBan] [int] NOT NULL,
	[MaMonAn] [int] NOT NULL,
	[ThoiGian] [datetime] NOT NULL,
	[GiaTien] [money] NULL,
 CONSTRAINT [PK_MonAnVaBan] PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC,
	[MaMonAn] ASC,
	[ThoiGian] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieu]    Script Date: 06/11/2025 10:08:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieu](
	[MaNguyenLieu] [int] IDENTITY(1,1) NOT NULL,
	[TenNL] [nchar](30) NOT NULL,
	[NgayNhap] [datetime] NULL,
	[HanSuDung] [int] NULL,
	[SoLuongTonkho] [int] NULL,
	[DonViTinh] [nchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieuLichSu]    Script Date: 06/11/2025 10:08:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieuLichSu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaNguyenLieu] [int] NULL,
	[TenNL] [nvarchar](100) NULL,
	[SoLuongTru] [int] NULL,
	[NgayLay] [datetime] NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[MaNV] [int] NULL,
	[TenNhanVien] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 06/11/2025 10:08:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNhaCungCap] [int] IDENTITY(1,1) NOT NULL,
	[TenNhaCungCap] [nchar](50) NOT NULL,
	[DiaChi] [nchar](50) NULL,
	[SoDienThoai] [nchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 06/11/2025 10:08:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] NOT NULL,
	[HoVaTen] [nvarchar](50) NULL,
	[SoDienThoai] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[NgayVaoLam] [date] NULL,
	[MaChucVu] [nvarchar](50) NOT NULL,
	[LuongGio] [float] NOT NULL,
	[GioiTinh] [nchar](10) NULL,
	[SoCMND] [nvarchar](50) NULL,
	[DiaChiThuongTru] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[TrangThai] [bit] NULL,
	[Anh] [nvarchar](20) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 06/11/2025 10:08:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[MaVoucher] [nvarchar](50) NOT NULL,
	[MucApDung] [decimal](18, 2) NULL,
	[NgayApDung] [date] NULL,
	[NgayKeThuc] [date] NULL,
	[GiamGia] [int] NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVoucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BangLuong] ([MaLuong], [MaNV], [Thang], [Nam], [LuongThang]) VALUES (N'ML001', 838684, 11, 2024, CAST(120000.00 AS Decimal(18, 2)))
INSERT [dbo].[BangLuong] ([MaLuong], [MaNV], [Thang], [Nam], [LuongThang]) VALUES (N'ML002', 1, 11, 2024, CAST(125000.00 AS Decimal(18, 2)))
INSERT [dbo].[BangLuong] ([MaLuong], [MaNV], [Thang], [Nam], [LuongThang]) VALUES (N'ML003', 1, 11, 2024, CAST(100000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[CaLam] ([MaCa], [TenCa]) VALUES (N'03', N'Ca 1(9-14h)')
INSERT [dbo].[CaLam] ([MaCa], [TenCa]) VALUES (N'04', N'Ca 2(10h30-17h)')
INSERT [dbo].[CaLam] ([MaCa], [TenCa]) VALUES (N'05', N'Ca 3(17h-22h30)')
GO
INSERT [dbo].[ChamCong] ([MaChamCong], [MaNV], [NgayLam], [MaCa], [ThoiGianBatDau], [ThoiGianKetThuc], [SoGioLam], [GhiChu]) VALUES (N'CC001', 838607, CAST(N'2024-11-18' AS Date), N'07', CAST(N'10:26:31' AS Time), CAST(N'17:30:31' AS Time), CAST(7.07 AS Decimal(5, 2)), NULL)
INSERT [dbo].[ChamCong] ([MaChamCong], [MaNV], [NgayLam], [MaCa], [ThoiGianBatDau], [ThoiGianKetThuc], [SoGioLam], [GhiChu]) VALUES (N'CC002', 838607, CAST(N'2024-11-18' AS Date), N'03', CAST(N'09:30:31' AS Time), CAST(N'14:00:31' AS Time), CAST(4.50 AS Decimal(5, 2)), NULL)
INSERT [dbo].[ChamCong] ([MaChamCong], [MaNV], [NgayLam], [MaCa], [ThoiGianBatDau], [ThoiGianKetThuc], [SoGioLam], [GhiChu]) VALUES (N'CC003', 838611, CAST(N'2024-11-18' AS Date), N'10', CAST(N'10:26:31' AS Time), CAST(N'22:30:31' AS Time), CAST(12.07 AS Decimal(5, 2)), NULL)
GO
INSERT [dbo].[ChiTietHDNhap] ([MaChiTietHDNhap], [MaHoaDon], [MaNguyenLieu], [SoLuong], [DonGia]) VALUES (47, 47, 32, 50, CAST(30000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHDNhap] ([MaChiTietHDNhap], [MaHoaDon], [MaNguyenLieu], [SoLuong], [DonGia]) VALUES (52, 362, 31, 15, CAST(200000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHDNhap] ([MaChiTietHDNhap], [MaHoaDon], [MaNguyenLieu], [SoLuong], [DonGia]) VALUES (55, 55, 21, 36, CAST(55000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaMonAn], [ThoiGian], [GiaTien], [SoLuong]) VALUES (N'HDB_18112024128', 2, CAST(N'2024-11-18T16:31:44.947' AS DateTime), 200000.0000, 1)
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaMonAn], [ThoiGian], [GiaTien], [SoLuong]) VALUES (N'HDB_18112024128', 11, CAST(N'2024-11-18T16:31:44.947' AS DateTime), 20000.0000, 1)
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaMonAn], [ThoiGian], [GiaTien], [SoLuong]) VALUES (N'HDB_18112024128', 12, CAST(N'2024-11-18T16:31:44.950' AS DateTime), 50000.0000, 1)
GO
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu], [HeSoLuong]) VALUES (N'CV001', N'Quản Lý ', CAST(3.00 AS Decimal(5, 2)))
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu], [HeSoLuong]) VALUES (N'CV002', N'Nhân Viên Bếp', CAST(2.50 AS Decimal(5, 2)))
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu], [HeSoLuong]) VALUES (N'CV003', N'Nhân Viên', CAST(2.00 AS Decimal(5, 2)))
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [MoTa]) VALUES (1, N'Thêm Khác                                         ', N'                                                  ')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [MoTa]) VALUES (2, N'Menu Tổng                                         ', N'                                                  ')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [MoTa]) VALUES (4, N'Thịt Gà                                           ', N'Món ăn về gà                                      ')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhSachBan] ON 

INSERT [dbo].[DanhSachBan] ([MaBan], [TenBan], [NgayDatBan], [SoLuongKhach], [ThongTinThem], [TrangThai]) VALUES (1, N'Bàn 1', CAST(N'2024-11-19T13:59:37.297' AS DateTime), 4, N'Không hút thuốc     ', N'Trong')
INSERT [dbo].[DanhSachBan] ([MaBan], [TenBan], [NgayDatBan], [SoLuongKhach], [ThongTinThem], [TrangThai]) VALUES (2, N'Bàn 2', CAST(N'2024-11-18T16:07:05.013' AS DateTime), 6, N'Gần cửa sổ          ', N'Trong')
INSERT [dbo].[DanhSachBan] ([MaBan], [TenBan], [NgayDatBan], [SoLuongKhach], [ThongTinThem], [TrangThai]) VALUES (3, N'Bàn 3', NULL, 6, N'Phòng VIP           ', N'Trong')
SET IDENTITY_INSERT [dbo].[DanhSachBan] OFF
GO
INSERT [dbo].[HoaDon] ([MaHoaDon], [NgayXuat], [MaKhachHang], [MaNV], [MaBan], [MaVoucher], [TongTien]) VALUES (N'HDB_18112024128', CAST(N'2024-11-18T16:32:04.770' AS DateTime), 9, 838668, 6, N'VOUCHER30', CAST(2160000.00 AS Decimal(18, 2)))
INSERT [dbo].[HoaDon] ([MaHoaDon], [NgayXuat], [MaKhachHang], [MaNV], [MaBan], [MaVoucher], [TongTien]) VALUES (N'HDB_18112024148', CAST(N'2024-11-18T16:46:10.273' AS DateTime), 7, 838611, 3, N'VOUCHER30', CAST(3222000.00 AS Decimal(18, 2)))
INSERT [dbo].[HoaDon] ([MaHoaDon], [NgayXuat], [MaKhachHang], [MaNV], [MaBan], [MaVoucher], [TongTien]) VALUES (N'HDB_18112024164', CAST(N'2024-11-18T16:29:38.020' AS DateTime), 25, 838651, 17, N'VOUCHER20', CAST(1656000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[HoaDonNhap] ([MaHoaDon], [MaNhaCungCap], [NgayNhap], [MaNV]) VALUES (47, 12, CAST(N'2024-11-14' AS Date), 1)
INSERT [dbo].[HoaDonNhap] ([MaHoaDon], [MaNhaCungCap], [NgayNhap], [MaNV]) VALUES (55, 8, CAST(N'2024-11-18' AS Date), 838618)
INSERT [dbo].[HoaDonNhap] ([MaHoaDon], [MaNhaCungCap], [NgayNhap], [MaNV]) VALUES (188, 11, CAST(N'2024-11-14' AS Date), 1)
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [HoKH], [TenKH], [SoDienThoai], [NgaySinh], [Email], [NoiSinh], [GioiTinh], [SoCMND], [TrangThai]) VALUES (1, N'Nguyễn                                            ', N'Văn An                                            ', N'0912345678          ', CAST(N'1985-01-01' AS Date), N'vana@gmail.com                                    ', N'Hà Nội                                            ', N'Nam       ', N'123456789           ', 0)
INSERT [dbo].[KhachHang] ([MaKH], [HoKH], [TenKH], [SoDienThoai], [NgaySinh], [Email], [NoiSinh], [GioiTinh], [SoCMND], [TrangThai]) VALUES (2, N'Trần                                              ', N'Thị Bình                                          ', N'0923456789          ', CAST(N'1990-02-01' AS Date), N'hib@gmail.com                                     ', N'Hồ Chí Minh                                       ', N'Nữ        ', N'234567890           ', 1)
INSERT [dbo].[KhachHang] ([MaKH], [HoKH], [TenKH], [SoDienThoai], [NgaySinh], [Email], [NoiSinh], [GioiTinh], [SoCMND], [TrangThai]) VALUES (3, N'Lê                                                ', N'Văn Cao                                           ', N'0934567890          ', CAST(N'1995-03-01' AS Date), N'le.c@gmail.com                                    ', N'Đà Nẵng                                           ', N'Nam       ', N'345678901           ', 1)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
INSERT [dbo].[LichLamViecNhanVien] ([MaLichLamViec], [MaNV], [NgayLam], [MaCa], [GhiChu], [LapLaiHangTuan]) VALUES (N'LLV001', 1, CAST(N'2024-11-15' AS Date), N'03', N'Đúng Giờ', 1)
INSERT [dbo].[LichLamViecNhanVien] ([MaLichLamViec], [MaNV], [NgayLam], [MaCa], [GhiChu], [LapLaiHangTuan]) VALUES (N'LLV002', 838611, CAST(N'2024-11-16' AS Date), N'04', NULL, 0)
INSERT [dbo].[LichLamViecNhanVien] ([MaLichLamViec], [MaNV], [NgayLam], [MaCa], [GhiChu], [LapLaiHangTuan]) VALUES (N'LLV003', 838611, CAST(N'2024-11-18' AS Date), N'07', NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[MonAn] ON 

INSERT [dbo].[MonAn] ([MaMonAn], [TenMonAn], [GiaTien], [MaDanhMuc], [DonViTinh], [Anh]) VALUES (1, N'Tôm Hùm Bông Hấp                                  ', CAST(1200000.00 AS Decimal(18, 2)), 7, NULL, N'TomHum.jpg')
INSERT [dbo].[MonAn] ([MaMonAn], [TenMonAn], [GiaTien], [MaDanhMuc], [DonViTinh], [Anh]) VALUES (2, N'Gà Nướng Mật Ong                                  ', CAST(200000.00 AS Decimal(18, 2)), 4, NULL, N'GaNuong.jpg')
INSERT [dbo].[MonAn] ([MaMonAn], [TenMonAn], [GiaTien], [MaDanhMuc], [DonViTinh], [Anh]) VALUES (3, N'Gà Sốt Cay                                        ', CAST(80000.00 AS Decimal(18, 2)), 4, NULL, N'GaSotCay.jpg')
SET IDENTITY_INSERT [dbo].[MonAn] OFF
GO
SET IDENTITY_INSERT [dbo].[NguyenLieu] ON 

INSERT [dbo].[NguyenLieu] ([MaNguyenLieu], [TenNL], [NgayNhap], [HanSuDung], [SoLuongTonkho], [DonViTinh]) VALUES (19, N'Khô Gà                       ', CAST(N'2024-11-19T14:10:21.000' AS DateTime), 7, 10, N'kg                  ')
INSERT [dbo].[NguyenLieu] ([MaNguyenLieu], [TenNL], [NgayNhap], [HanSuDung], [SoLuongTonkho], [DonViTinh]) VALUES (20, N'Muôi                      ', CAST(N'2024-11-14T15:50:08.080' AS DateTime), 365, 5, N'gói                 ')
INSERT [dbo].[NguyenLieu] ([MaNguyenLieu], [TenNL], [NgayNhap], [HanSuDung], [SoLuongTonkho], [DonViTinh]) VALUES (21, N'Gạo                            ', CAST(N'2024-11-18T16:42:59.000' AS DateTime), 10, 10, N'kg                  ')
SET IDENTITY_INSERT [dbo].[NguyenLieu] OFF
GO
SET IDENTITY_INSERT [dbo].[NguyenLieuLichSu] ON 

INSERT [dbo].[NguyenLieuLichSu] ([ID], [MaNguyenLieu], [TenNL], [SoLuongTru], [NgayLay], [DonViTinh], [MaNV], [TenNhanVien]) VALUES (6, 46, N'Bia Heineken                  ', 45, CAST(N'2024-11-14T21:23:42.243' AS DateTime), N'lon                 ', 1, N'Nguyễn Tấn Trường')
INSERT [dbo].[NguyenLieuLichSu] ([ID], [MaNguyenLieu], [TenNL], [SoLuongTru], [NgayLay], [DonViTinh], [MaNV], [TenNhanVien]) VALUES (7, 32, N'Rau                           ', 3, CAST(N'2024-11-14T21:25:04.403' AS DateTime), N'kg                  ', 1, N'Nguyễn Tấn Trường')
INSERT [dbo].[NguyenLieuLichSu] ([ID], [MaNguyenLieu], [TenNL], [SoLuongTru], [NgayLay], [DonViTinh], [MaNV], [TenNhanVien]) VALUES (8, 37, N'Sò Điệp                       ', 3, CAST(N'2024-11-14T21:28:38.453' AS DateTime), N'kg                  ', 1, N'Nguyễn Tấn Trường')
SET IDENTITY_INSERT [dbo].[NguyenLieuLichSu] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [SoDienThoai]) VALUES (7, N'Thịt Lợn Vạn Phúc                                 ', N'Đống Đa                                           ', N'0945234545     ')
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [SoDienThoai]) VALUES (8, N'Gà Tươi Mạnh Hoạch                                ', N'37 Vạn Phúc                                       ', N'0945231034     ')
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [SoDienThoai]) VALUES (9, N'Tân Bò                                            ', N'23 Cầu Giấy                                       ', N'0345911233     ')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
INSERT [dbo].[NhanVien] ([MaNV], [HoVaTen], [SoDienThoai], [NgaySinh], [NgayVaoLam], [MaChucVu], [LuongGio], [GioiTinh], [SoCMND], [DiaChiThuongTru], [Email], [MatKhau], [TrangThai], [Anh]) VALUES (1, N'Nguyễn Tấn Trường', N'0987654321', CAST(N'1990-01-01' AS Date), CAST(N'2020-01-15' AS Date), N'CV001', 25000, N'Nam       ', N'123456789', N'Hà Nội', N'e@gmail.com', N'pass1', 1, N'Nam2.jpg')
INSERT [dbo].[NhanVien] ([MaNV], [HoVaTen], [SoDienThoai], [NgaySinh], [NgayVaoLam], [MaChucVu], [LuongGio], [GioiTinh], [SoCMND], [DiaChiThuongTru], [Email], [MatKhau], [TrangThai], [Anh]) VALUES (838607, N'Bùi Đình Giang', N'0147852369', CAST(N'2004-07-04' AS Date), CAST(N'2024-11-04' AS Date), N'CV001', 23000, N'Nam       ', N'0123987456', N'Ninh Bình', N'giang@gmail.com', N'123456', 1, N'Nam.jpg')
INSERT [dbo].[NhanVien] ([MaNV], [HoVaTen], [SoDienThoai], [NgaySinh], [NgayVaoLam], [MaChucVu], [LuongGio], [GioiTinh], [SoCMND], [DiaChiThuongTru], [Email], [MatKhau], [TrangThai], [Anh]) VALUES (838611, N'Nguyễn Thanh Hằng', N'098543984', CAST(N'2001-12-04' AS Date), CAST(N'2024-11-03' AS Date), N'CV003', 24200, N'Nữ        ', N'024009345', N'Bắc Giang', N'Hang1204@gmail.com', N'Hang@123', 1, N'Nu2.jpg')
GO
INSERT [dbo].[Voucher] ([MaVoucher], [MucApDung], [NgayApDung], [NgayKeThuc], [GiamGia], [SoLuong]) VALUES (N'VOUCHER10', CAST(1000000.00 AS Decimal(18, 2)), CAST(N'2024-11-01' AS Date), CAST(N'2024-11-30' AS Date), 10, 100)
INSERT [dbo].[Voucher] ([MaVoucher], [MucApDung], [NgayApDung], [NgayKeThuc], [GiamGia], [SoLuong]) VALUES (N'VOUCHER100', CAST(3000000.00 AS Decimal(18, 2)), CAST(N'2024-12-15' AS Date), CAST(N'2025-01-15' AS Date), 100, 500)
INSERT [dbo].[Voucher] ([MaVoucher], [MucApDung], [NgayApDung], [NgayKeThuc], [GiamGia], [SoLuong]) VALUES (N'VOUCHER20', CAST(500000.00 AS Decimal(18, 2)), CAST(N'2024-11-05' AS Date), CAST(N'2024-11-25' AS Date), 20, 184)
GO
ALTER TABLE [dbo].[BangLuong]  WITH CHECK ADD  CONSTRAINT [FK_BangLuong_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[BangLuong] CHECK CONSTRAINT [FK_BangLuong_NhanVien]
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD  CONSTRAINT [FK_ChamCong_CaLam] FOREIGN KEY([MaCa])
REFERENCES [dbo].[CaLam] ([MaCa])
GO
ALTER TABLE [dbo].[ChamCong] CHECK CONSTRAINT [FK_ChamCong_CaLam]
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD  CONSTRAINT [FK_ChamCong_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ChamCong] CHECK CONSTRAINT [FK_ChamCong_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietHDNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDNhap_HoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDonNhap] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHDNhap] CHECK CONSTRAINT [FK_ChiTietHDNhap_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHDNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDNhap_NguyenLieu] FOREIGN KEY([MaNguyenLieu])
REFERENCES [dbo].[NguyenLieu] ([MaNguyenLieu])
GO
ALTER TABLE [dbo].[ChiTietHDNhap] CHECK CONSTRAINT [FK_ChiTietHDNhap_NguyenLieu]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_MonAn] FOREIGN KEY([MaMonAn])
REFERENCES [dbo].[MonAn] ([MaMonAn])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_MonAn]
GO
ALTER TABLE [dbo].[ChiTietMonAn]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietMonAn_MonAn] FOREIGN KEY([MaMonAn])
REFERENCES [dbo].[MonAn] ([MaMonAn])
GO
ALTER TABLE [dbo].[ChiTietMonAn] CHECK CONSTRAINT [FK_ChiTietMonAn_MonAn]
GO
ALTER TABLE [dbo].[ChiTietMonAn]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietMonAn_NguyenLieu] FOREIGN KEY([MaNguyenLieu])
REFERENCES [dbo].[NguyenLieu] ([MaNguyenLieu])
GO
ALTER TABLE [dbo].[ChiTietMonAn] CHECK CONSTRAINT [FK_ChiTietMonAn_NguyenLieu]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Ban] FOREIGN KEY([MaBan])
REFERENCES [dbo].[DanhSachBan] ([MaBan])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Ban]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Voucher] FOREIGN KEY([MaVoucher])
REFERENCES [dbo].[Voucher] ([MaVoucher])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Voucher]
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonNhap_NhaCungCap] FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([MaNhaCungCap])
GO
ALTER TABLE [dbo].[HoaDonNhap] CHECK CONSTRAINT [FK_HoaDonNhap_NhaCungCap]
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonNhap_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDonNhap] CHECK CONSTRAINT [FK_HoaDonNhap_NhanVien]
GO
ALTER TABLE [dbo].[LichLamViecNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_LichLamViecNhanVien_CaLam] FOREIGN KEY([MaCa])
REFERENCES [dbo].[CaLam] ([MaCa])
GO
ALTER TABLE [dbo].[LichLamViecNhanVien] CHECK CONSTRAINT [FK_LichLamViecNhanVien_CaLam]
GO
ALTER TABLE [dbo].[LichLamViecNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_LichLamViecNhanVien_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[LichLamViecNhanVien] CHECK CONSTRAINT [FK_LichLamViecNhanVien_NhanVien]
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD  CONSTRAINT [FK_MonAn_DanhMuc] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMuc] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[MonAn] CHECK CONSTRAINT [FK_MonAn_DanhMuc]
GO
ALTER TABLE [dbo].[MonAnVaBan]  WITH CHECK ADD  CONSTRAINT [FK_MonAnVaBan_Ban] FOREIGN KEY([MaBan])
REFERENCES [dbo].[DanhSachBan] ([MaBan])
GO
ALTER TABLE [dbo].[MonAnVaBan] CHECK CONSTRAINT [FK_MonAnVaBan_Ban]
GO
ALTER TABLE [dbo].[MonAnVaBan]  WITH CHECK ADD  CONSTRAINT [FK_MonAnVaBan_MonAn] FOREIGN KEY([MaMonAn])
REFERENCES [dbo].[MonAn] ([MaMonAn])
GO
ALTER TABLE [dbo].[MonAnVaBan] CHECK CONSTRAINT [FK_MonAnVaBan_MonAn]
GO
ALTER TABLE [dbo].[NguyenLieuLichSu]  WITH CHECK ADD  CONSTRAINT [FK_NguyenLieuHistory_NguyenLieu] FOREIGN KEY([MaNguyenLieu])
REFERENCES [dbo].[NguyenLieu] ([MaNguyenLieu])
GO
ALTER TABLE [dbo].[NguyenLieuLichSu] CHECK CONSTRAINT [FK_NguyenLieuHistory_NguyenLieu]
GO
ALTER TABLE [dbo].[NguyenLieuLichSu]  WITH CHECK ADD  CONSTRAINT [FK_NguyenLieuHistory_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[NguyenLieuLichSu] CHECK CONSTRAINT [FK_NguyenLieuHistory_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChucVu] FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[ChucVu] ([MaChucVu])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChucVu]
GO
UPDATE LichLamViecNhanVien SET NgayLam = '2026-03-25' WHERE MaLichLamViec = 'LLV001';
UPDATE LichLamViecNhanVien SET NgayLam = '2026-03-27' WHERE MaLichLamViec = 'LLV002';
UPDATE LichLamViecNhanVien SET NgayLam = '2026-04-02' WHERE MaLichLamViec = 'LLV003';
UPDATE LichLamViecNhanVien SET NgayLam = '2026-03-25' WHERE MaLichLamViec = 'LLV004';
UPDATE LichLamViecNhanVien SET NgayLam = '2026-04-11' WHERE MaLichLamViec = 'LLV005';
UPDATE LichLamViecNhanVien SET NgayLam = '2026-03-29' WHERE MaLichLamViec = 'LLV006';
UPDATE LichLamViecNhanVien SET NgayLam = '2026-04-05' WHERE MaLichLamViec = 'LLV007';
UPDATE LichLamViecNhanVien SET NgayLam = '2026-04-01' WHERE MaLichLamViec = 'LLV008';
UPDATE LichLamViecNhanVien SET NgayLam = '2026-03-26' WHERE MaLichLamViec = 'LLV009';
UPDATE LichLamViecNhanVien SET NgayLam = '2026-04-09' WHERE MaLichLamViec = 'LLV010';
UPDATE LichLamViecNhanVien SET NgayLam = '2026-03-30' WHERE MaLichLamViec = 'LLV011';
UPDATE LichLamViecNhanVien SET NgayLam = '2026-04-03' WHERE MaLichLamViec = 'LLV012';
UPDATE LichLamViecNhanVien SET NgayLam = '2026-04-12' WHERE MaLichLamViec = 'LLV013';
UPDATE LichLamViecNhanVien SET NgayLam = '2026-03-28' WHERE MaLichLamViec = 'LLV014';
UPDATE LichLamViecNhanVien SET NgayLam = '2026-04-06' WHERE MaLichLamViec = 'LLV016';
UPDATE LichLamViecNhanVien SET NgayLam = '2026-04-13' WHERE MaLichLamViec = 'LLV017';
UPDATE LichLamViecNhanVien SET NgayLam = '2026-03-25' WHERE MaLichLamViec = 'LLV018';
UPDATE LichLamViecNhanVien SET NgayLam = '2026-04-07' WHERE MaLichLamViec = 'LLV020';
UPDATE LichLamViecNhanVien SET NgayLam = '2026-04-10' WHERE MaLichLamViec = 'LLV021';
USE [TAPHOA]
UPDATE NguyenLieu SET NgayNhap = '2026-01-05 08:15:23.000' WHERE MaNguyenLieu = 19;
UPDATE NguyenLieu SET NgayNhap = '2026-02-11 09:20:45.000' WHERE MaNguyenLieu = 21;
UPDATE NguyenLieu SET NgayNhap = '2026-03-18 10:05:12.000' WHERE MaNguyenLieu = 27;
UPDATE NguyenLieu SET NgayNhap = '2026-04-02 14:30:55.000' WHERE MaNguyenLieu = 30;
UPDATE NguyenLieu SET NgayNhap = '2026-05-09 16:40:33.000' WHERE MaNguyenLieu = 32;
UPDATE NguyenLieu SET NgayNhap = '2026-06-21 11:10:05.000' WHERE MaNguyenLieu = 33;
UPDATE NguyenLieu SET NgayNhap = '2026-07-14 13:25:44.000' WHERE MaNguyenLieu = 34;
UPDATE NguyenLieu SET NgayNhap = '2026-08-03 15:55:21.000' WHERE MaNguyenLieu = 35;
UPDATE NguyenLieu SET NgayNhap = '2026-09-27 17:05:09.000' WHERE MaNguyenLieu = 37;
UPDATE NguyenLieu SET NgayNhap = '2026-10-12 18:45:36.000' WHERE MaNguyenLieu = 38;
UPDATE NguyenLieu SET NgayNhap = '2026-11-06 07:35:50.000' WHERE MaNguyenLieu = 39;
UPDATE NguyenLieu SET NgayNhap = '2026-12-19 06:50:18.000' WHERE MaNguyenLieu = 40;
UPDATE NguyenLieu SET NgayNhap = '2026-01-22 12:15:27.000' WHERE MaNguyenLieu = 42;
UPDATE NguyenLieu SET NgayNhap = '2026-02-28 19:20:41.000' WHERE MaNguyenLieu = 43;
UPDATE NguyenLieu SET NgayNhap = '2026-03-11 20:10:22.000' WHERE MaNguyenLieu = 44;
UPDATE NguyenLieu SET NgayNhap = '2026-04-25 21:05:39.000' WHERE MaNguyenLieu = 46;
UPDATE NguyenLieu SET NgayNhap = '2026-05-30 22:45:11.000' WHERE MaNguyenLieu = 47;
UPDATE NguyenLieu SET NgayNhap = '2026-06-17 09:05:56.000' WHERE MaNguyenLieu = 48;
TRY_CONVERT(datetime, your_column)